body            { font-family: sans-serif; background: #eee url("/static/images/background.jpg") repeat right top; background-attachment: fixed; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; padding-left:45px; background:#fff url("/static/images/ping.jpg") no-repeat left top; background-size: 40px; }
h2              { font-size: 1.2em; }
.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.quote          { text-align: left; font-size: 0.8em; padding: 0.3em 0 0 4em;
                  margin-bottom: 0; background: #fafafa; font-style: italic;
                  color:#999; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
.score          { font-weight: bold; }
.rank           { fill: none; stroke-width: 4; }
.slackerrank    { fill: none; stroke: white; stroke-width: 3; opacity:0.5; }
.ranknr         { fill:black; }
svg             { background-color: white; }
.game           { fill:gray; opacity:0.2; }
.dateline       { stroke:black; opacity:0.4; stroke-width:3 ;}
ul.shouts li    { margin-bottom: 0.7em; }
.shouter        { font-weight: bold; font-size:9pt; }
.player-name    { font-weight: bold; }
.player-full-name{font-size: 0.75em; }
.tag            { font-family: Courier}
