{% extends "layout.html" %}
{% block title %} Edit shout {% endblock %}
{% block body %}

  {% if session.logged_in %}
    <h2>Edit shout</h2>
    <form action="{{ url_for('edit_shout', shout_id=shout.id) }}" method=post class=edit-shout>
        <textarea rows="15" cols="50" name="shout">{{ shout.shout }}</textarea>
        <br />
        <input type=submit value='Update'>
    </form>

    <form action="{{ url_for('remove_shout', shout_id=shout.id) }}" method=post class=remove-shout>
        <input type=submit value='Delete'>
    </form>

    <br />
  {% endif %}

  <h2>Shoutbox</h2>
  <ul class=shouts>
  {% for shout in shouts %}
    <li> <span class="shouter">[{{ shout['player'] }}]</span> - {{ shout['shout']|safe }}
    {% if admin_links %}
      <a href="url_for('edit_shout')">edit</a>
    {% endif %}
    </li>
  {% endfor %}
  </ul>

{% endblock %}
