{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block body %}

  <h2>Ranking history</h2>
  <p>
  (not visible in Internet Explorer)<br />
    <svg width="800" height="450"></svg>
  </p>
  
  <h4>Note: absence</h4>
  <p>
  {% for player,returns in absence.items() %}
    {{ player }} is out till {{ returns }}<br />
  {% endfor %}
  </p>

{% include "shoutbox.html" %}

Full shout history is visible on <a href="/shoutbox">the shoutbox page</a>

<script src="/static/js/d3.v3.min.js"></script>
<script src="/static/js/ranking.js"></script>


{% endblock %}
