{% extends "layout.html" %}
{% block body %}

  <ul class=links>
    <li><a href="/ranking">Ranking</a></li>
    <li><a href="/games">Games</a></li>
    <li><a href="/players">Players</a></li>
    <li><a href="/rules">Rules</a></li>
    <li><a href="/news">News</a></li>
    <li><a href="/shoutbox">Shoutbox</a></li>
  </ul>

  <p>
    <svg width="800" height="450"></svg>
  </p>

  <h2>Shouts</h2>
  <p>
  You can share your feedback (or officially announce challenges) in the <a href="/shoutbox">shoutbox</a>.
  </p>
  <ul class=shouts>
  {% for shout in shouts %}
    <li> <span class="shouter">[{{ shout['player'] }}]</span> - {{ shout['shout'] }}</li>
  {% endfor %}
  </ul>

<script src="/static/js/d3.v3.min.js"></script>
<script src="/static/js/ranking.js"></script>

{% endblock %}
