{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block body %}

  <input type="button" onclick="dotranslate(false);" value="<-" />
  <input type="button" onclick="zoom(false);" value="-" />
  <input type="button" onclick="zoom(true);" value="+" />
  <input type="button" onclick="dotranslate(true);" value="->" />
  <input type="button" onclick="all_view(true);" value="All" />
  <input type="button" onclick="latest_view(true);" value="Latest" />
  <br />
  <svg width="800" height="450"></svg>
  </p>

{% if table_reservation %}
    Table status: in use by {{ table_reservation.reserver.name }} {{ table_reservation.minutes_ago }} minutes ago.<br /><br />
{% else %}
    Table status: free.  <form action="{{ url_for('save_table_reservation') }}" method=post class=save-reservation><input type=submit value='Save reservation now' id="reservesmall"></form><br />
{% endif %}

{% include "shoutbox.html" %}
&lt;- <a href="/shoutbox">All shouts</a>

<script src="/static/js/d3.v3.min.js"></script>
<script src="/static/js/ranking.js"></script>

{% endblock %}
