{% extends "layout.html" %}
{% block title %}Manage{% endblock %}
{% block body %}

  <h2>Query</h2>
  <form action="{{ url_for('manage', item_type=item_type) }}" method=post>
    <input type="hidden" name="item_type" value="{{ item_type }}" />
    <textarea rows="15" cols="50" name="query"></textarea>
    <br />
    <input type=submit value='Execute'>
  </form>

  <h2>{{ title }}</h2>
  {% for item in items %}
    <li>
    {% for key,value in item.items() %}
      {{ key }} = {{ value }} <br />
    {% endfor %}
    </li>
  {% endfor %}
  </ul>

  <br />

{% endblock %}
