
  {% if session.logged_in %}
    <h2>Shout it out</h2>
    <form action="{{ url_for('add_shout') }}" method=post class=add-shout>
        <input type=text size=70 name=shout>
        <input type=submit value='Shout'>
    </form>
    <br />
  {% endif %}

  <h2>Shoutbox</h2>
  <ul class=shouts>
  {% for shout in shouts %}
    <li> <span class="shouter">[{{ shout['player'] }}]</span> - {{ shout['shout']|safe }}
    {% if admin_links %}
      &nbsp;|<a href="{{ url_for('edit_shout', shout_id=shout['id']) }}">edit</a>
    {% endif %}
    </li>
  {% endfor %}
  </ul>
