{% extends "layout.html" %}
{% block title %}Rules{% endblock %}
{% block body %}
  <h2>Rules</h2>

  <h3>Ladder ranking</h3>
  <ul>
      <li>Initially the players are ranked randomly, with only some of the best placed intentionally at the bottom.</li>
      <li>A player can challenge any opponent out of the three (non-absent) players ranked directly above him.</li>
      <li>It the lower-ranked challenger wins, both players swap places in the ranking; so naturally, the best players are rising to the top.</li>
  </ul>

  <h3>Challenges</h3>
  <ul>
      <li>A challenge is official once it is entered on the challenges page.</li>
      <li>You cannot deny a challenge; this is equal to defeating three times with 11-0.</li>
      <li>You cannot challenge, or be challenged by, the last player you played against (either as challenger or challengee).</li>
      <li>Rank number #2 may challenge #1 regardless of who both players played against last time, but after each #2-#1 match the new #2 needs to wait 24 hours before challenging #1 again.</li>
      <li>You cannot challenge anyone who has an open challenge; also you cannot challenge anyone if you have an open challenge yourself.</li>
      <li>If you have received multiple challenges, only the first one needs to be played; the consecutive ones are invalid.</li>
  </ul>

  <h3>Absence</h3>
  <ul>
      <li>For placing challenges, you can ignore absent people.  For example, if there are two players directly above you who are absent, you can up to five positions higher than yourself.</li>
      <li>If you're not in, you don't have to play -- being out of office is therefor not a problem.</li>
      <li>But players who have played almost no games (amount to be decided) are considered to not have participated in the final ranking.</li>
  </ul>

  <h3>End of tournament</h3>
  <ul>
      <li>The tournament will take several weeks.</li>
      <li>The end date of the tournament is still to be decided and will be communicated well in advance.</li>
  </ul>

  <h3>Matches</h3>
  <ul>
    <li>The match winner is the one who first wins two sets of 11 points (so max three sets).</li>
    <li>You can only win a set with a minimal difference of 2 points.</li></lI>
    <li>Regular rules apply, <a href="http://www.tafeltennis.org/spelregels.htm">see here</a>.</li>
  </ul>

  <h3>Serves</h3>
  <ul>
    <li>Serves are switched every 2 points.</li>
    <li>As soon as both players have 10 points, serves are switched every point.</li>
    <li>Serves do not have to cross play-halves.</li>
    <li>A serve which touches the net but bounces correctly, needs to be played again.</li>
    <li>There is no second serve; a serve which which bounces incorrectly is a lost point.</li>
  </ul>

  <h3>Whining</h3>
  <ul>
      <li>Excessive whining is punished by your removal from the tournament.</li>
      <li>Excessive is defined as claiming >10 times that you're "not sure about participating", "ready to quit", "no longer feel like it", "don't see the point", and the like.</li>
      <li>If you complain about the color of your rank line, it will be changed to pink.</li>
  </ul>

{% endblock %}