{% extends "layout.html" %}
{% block body %}

  <h2>News</h2>

  <h3>First ex-Vilvoorde competitors</h3>
  <p>Tom Mortier and Yves depret are joining the competition.</p>

  <h3>Ramzan joins as well</h3>
  <p>We're now up to 26 players.</p>

  <h3>Players added: Joris, Stijn, Tim, Bart</h3>
  <p>These four players were not yet added as participants; they are now.</p>
  <p>In the meantime, we have some absentees: Donald (as of July 5), Gerd, Raf, Joost D, Roy.</p>

  <h3>Tournament has started</h3>

  <p>As of 2015-08-04 the tabletennis tournament has started.
  <p>The tournament formula is not a poules + knock out phase, but rather a ladder ranking.
  <p>Check <a href="http://florisla.pythonanywhere.com/rules">the rules</a>; and see the current <a href="http://florisla.pythonanywhere.com/ranking">ranking</a>.
  <p>How to go on from here?
  <ol>
      <li>Look at the ranking</li>
      <li>Pick an opponent who is 1, 2 or 3 positions higher on the ranking than you</li>
      <li>Play that opponent</li>
      <li>Log in to the tournament website (password: pingpong) and log the game score</li>
      <li>If you've won, you receive your opponents rank spot and vice versa</li>
      <li>Repeat</li>
  </ol>

  <h3>Tournament formula: ladder competition</h3>

  <p>
  In order to let anybody play as many games as they like, and to avoid
  people having to leave the tournament too early, we won't be using
  a poules/knockout tournament formula, but a <a href="https://en.wikipedia.org/wiki/Ladder_tournament">ladder competiton</a>.
  </p>
  <p>
  It goes like this:
  <ul>
      <li>Players are ranked, from worse (at the top) to the best (at the bottom)</li>
      <li>A player can challenge an opponent who is 1 to 3 places above him</li>
      <li>It the lower-ranked challenger wins, both players swap places in the ranking; so naturally, the best players are rising to the top</li>
      <li>You cannot deny a challenge; this is equal to defeating</li>
  </ul>
  </p>
  <p>
  More rules will be described on the <a href="/rules">rules</a> page.
  </p>

  <h3>Tournament formula to be decided</h3>

  <p>
  Deciding on a tournament formula is not easy if the number of players is not
  a power of two.
  </p>

  <p>
  If you have 16 players it's easy: 2 poules of 8 provide a ranking, and
  8 matches have 8 winners which is then reduced to 4, 2, 1.
  </p>

  <p>
  With 14 players you still want to end up with 8 or 4 players to start the
  to 2 and 1, but there are not enough players to hold 8 matches
  to start with.
  </p>

  <p>
  One solution is to hold only 4 matches and remove the bottom ranked players
  from each poule from the tournament straight away.
  This is not much fun for the affected players.
  </p>

  <p>
  The nicer solution is to hold 6 matches, and give the top ranked players
  from each poule a wilcard to the next round. This has the benefit
  that the lesser players are saved from the risk of encountering these
  'dangerous' adversaries in the first knock-out round.
  </p>

{% endblock %}