{% extends "layout.html" %}
{% block title %}Players{% endblock %}
{% block body %}

  <h2>Players</h2>
  {% if session.logged_in %}
    I am absent until (yyyy-mm-dd):<br />
    <form action="{{ url_for('save_absence') }}" method="post" class="absence">
    <input type=date name=absence value="{{ absence or '' }}"/>
    <input type="submit" value="Save" /><br />
    </form>
    <br />
    <form action="{{ url_for('add_tag_to_player') }}" method=post class=add-tag>
        Tag <select name="player"><option name="none" selected> </option>
            {% for player in ranking %}
                <option name="{{ player }}">{{ player }}</option>
            {% endfor %}
        </select>
        <input type=text size=25 name=tag>
        <input type="submit" value="Save" /><br />
    </form>
  {% endif %}

  <ul class=players>
  {% for player in players %}
    <li>
      <span class="player-name">{{ player.name }}</span>
      <span class="player-full-name">({{ player.full_name }})</span>
      {% for tag in player.tags %}
      <span class="tag">{{ tag.tag }}</span>,
      {% endfor %}
    </li>
  {% endfor %}
  </ul>

  <h2>Stats</h2>
  <ul>
      <li>{{ players|count }} participants
  </ul>

{% endblock %}
