{% extends "layout.html" %}
{% block title %}Games{% endblock %}
{% block body %}

  {% if session.logged_in %}
    <h2>Log game score</h2>
    <form action="{{ url_for('add_game') }}" method=post class=add-game>
        <select name="player1"><option name="none" selected> </option>
            {% for player in players %}
                <option name="{{ player }}">{{ player }}</option>
            {% endfor %}
        </select> (challenger) vs
        <select name="player2"><option name="none" selected> </option>
            {% for player in players %}
                <option name="{{ player }}">{{ player }}</option>
            {% endfor %}
        </select> (challengee)
        <br />

        Game 1 <input type=text size=2 name=player1_score1> -
        <input type=text size=2 name=player2_score1>
        <br />
        Game 2 <input type=text size=2 name=player1_score2> -
        <input type=text size=2 name=player2_score2>
        <br />
        Game 3 <input type=text size=2 name=player1_score3> -
        <input type=text size=2 name=player2_score3>
        <br /><br />
        Comment<br />
        <textarea rows="4" cols="50" name="comment"></textarea>
        <br />
        <input type=submit value='Add'>
        <br /><br />
    </form>
  {% endif %}

  <h2>Stats</h2>
  <ul>
      <li>{{ games|count }} games played
  </ul>

  <h2>Filter</h2>
    <form action="" method=get>
        <select name="player1" id="filter-player" onchange="filter_games();"><option name="none" {{ 'selected' if not filtered_player }}>(anyone)</option>
            {% for player in players %}
                <option name="{{ player }}" {{ 'selected' if player==filtered_player }}>{{ player }}</option>
            {% endfor %}
        </select>
        {% if filtered_player %}
        vs
        <select name="player2" id="filter-player2" onchange="filter_games();"><option name="anyone" {{ 'selected' if not filtered_player2 }}>(anyone)</option>
            {% for player in players %}
                 <option name="{{ player }}" {{ 'selected' if player==filtered_player2 }}>{{ player }}</option>
            {% endfor %}
        </select>
        {% endif %}
        <br /><br />
    </form>

  <h2>Games</h2>
  <ul class=games>
  {% for game in games %}
    <li> <span class="player {{'winner' if game.winner == filtered_player and game.winner == game.challenger.name }}{{ 'loser' if game.winner != filtered_player and filtered_player == game.challenger.name }}">{{ game.challenger.name }}</span> -
    <span class="player {{'winner' if game.winner == filtered_player and game.winner == game.defender.name }} {{ 'loser' if game.winner != filtered_player and filtered_player == game.defender.name }}"> {{ game.defender.name }}</span>:
    <span class='score'>{{ game.score_challenger_1 }}-{{ game.score_defender_1 }}</span>,
    <span class='score'>{{ game.score_challenger_2 }}-{{ game.score_defender_2 }}</span>
    {% if game.score_challenger_3 or game.score_defender_3 %}
      , <span class='score'>{{ game.score_challenger_3 }}-{{ game.score_defender_3 }}</span>
    {% endif %}
    ({{ game['local_date_string']  }}h)
  {% endfor %}
  </ul>

<script src="/static/js/filter.js"></script>

{% endblock %}

